* {
    box-sizing: border-box;
}

body {
    background-color: #282c34;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.no-content {
  color: white;
}